*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
     padding: 50px 200px;
}

#main{
    font-family: sans-serif;
    box-shadow: 0 4px 5px #283c49;
    width: 400px;
    height: 500px;
    
}

.content{
    text-align: center;
}
.logo{
    position: relative;
}

.logo >.logo1{
    color: aliceblue;
    background-color: rgb(25, 172, 221);
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
    border-radius: 4px;
}

.logo > .logo2{
    background-color: #1693ed;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.or{
    text-align: center;
}

form{
    text-align: center;
    margin-top: 10px;
    
    
}



